<!-- app/views/posts/show.html.erb -->

<h1><%= @post.content %></h1>

<!-- Like Form -->
<%= form_with(url: post_likes_path(@post), remote: true) do |form| %>
  <% if @post.votes_for.where(voter: current_user).exists? %>
    <%= form.submit "Unlike", class: "btn btn-danger" %>
  <% else %>
    <%= form.submit "Like", class: "btn btn-primary" %>
  <% end %>
<% end %>

<!-- Comment Form -->
<%= form_with(model: [ @post, @post.comments.build ], remote: true) do |form| %>
  <%= form.text_area :content, placeholder: "Add a comment..." %>
  <%= form.submit "Comment", class: "btn btn-primary" %>
<% end %>

<!-- Display Likes -->
<div id="likes">
  <p>Likes: <%= @post.votes_for.size %></p>
</div>

<!-- Display Comments -->
<div id="comments">
  <h2>Comments</h2>
  <% @post.comments.each do |comment| %>
    <div>
      <p><strong><%= comment.user.email if comment.user %>:</strong> <%= comment.body %></p>
    </div>
  <% end %>
</div>
